<mat-card class="card">
    <div fxLayout="row" >
        <div fxLayout="column" fxFlex="15" class="displayPicture" >
            <button mat-mini-fab color="primary" class="example-header-image"></button>
        </div>
        <div fxLayout="column" fxFlex="85">
            <mat-card-content>
                <h3 class="margin">
                    Trijun
                </h3>
                <p class="margin">
                    Hiiii
                </p>
            </mat-card-content>
        </div>
    </div>
</mat-card>
