<mat-toolbar class="greyBackground20">
    <mat-toolbar-row>
        <button mat-mini-fab color="primary" class="example-header-image">
        </button>
        <span class="username">
            Trijun
        </span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>
                <span class="material-icons">
                    search
                </span>   
            </mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>
                <span class="material-icons">
                    more_vert
                </span>
            </mat-icon>
        </button>
      </mat-toolbar-row>
  </mat-toolbar>


  <mat-card class="height"></mat-card>


  <div fxLayout="row" class="greyBackground10 footer">
    <div fxLayout="column" fxFlex="3">
        <button mat-icon-button>
            <mat-icon>
                <span class="material-icons">
                    sentiment_very_satisfied
                </span> 
            </mat-icon>
        </button>
    </div>

    <div fxLayout="column" fxFlex="4">
        <button mat-icon-button>
            <mat-icon>
                <span class="material-icons">
                    attach_file
                </span>
            </mat-icon>
        </button>
    </div>

    <div fxLayout="column" class="searchBoxMargin">
        <div class="search">
            <div>
                <input type="text" placeholder="Type something" class="searchBox">
            </div>                
        </div>
    </div>
    
   
    <div fxLayout="column" fxFlex="5">
        <button mat-icon-button>
            <mat-icon>
                <span class="material-icons">
                    mic
                </span> 
            </mat-icon>
        </button>
    </div>
</div>