<mat-toolbar class="greyBackground20 ">
    <mat-toolbar-row>
        <button mat-mini-fab color="primary" class="example-header-image">
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>
                <span class="material-icons">
                    whatshot
                </span>
            </mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>
                <span class="material-icons">
                    message
                    </span>
            </mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>
                <span class="material-icons">
                    more_vert
                </span>
            </mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row class="greyBackground10">

            <div class="search">
                <div fxLayout="row" >
                    <div fxLayout="column" fxFlex="15" class="searchIcon" >
                        <mat-icon >
                            <span class="material-icons">
                                search
                                </span>                    
                        </mat-icon>
                    </div>
                    <div fxLayout="column" fxFlex="85"  class="searchBox" >
                        <input type="text" placeholder="Search or start a new chat">
                    </div>
                </div>                
            </div>
      </mat-toolbar-row>
  </mat-toolbar>
