/* Material CSS */
.example-spacer {
    flex: 1 1 auto;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

/* Custom class */
input{
  border:none;
  font-size: 14px;
}
input:focus{
  outline: none;
}

.greyBackground20{
    background-color: rgb(242, 242, 242);
    color: rgb(73, 73, 73);
}

.greyBackground10{
  background-color: rgb(249, 249, 249);
  height: 50px;
}

.search{
  width: 100%;
  height: 30px;
  background: white;
  border-radius: 20px;
}
.searchIcon{
  padding: 0px 10px;
  padding-top: 5px;
}
.searchBox{
  padding: 8px 6px;
}
